In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import seaborn as sns
import sklearn
import sktime
import orbit

# Read in data

In [2]:
collection_id = 189          
url = "https://api-production.data.gov.sg/v2/public/api/collections/{}/metadata".format(collection_id)
        
response = requests.get(url)
print(response.json())

{'code': 0, 'data': {'collectionMetadata': {'collectionId': '189', 'createdAt': '2015-09-22T15:05:30+08:00', 'name': 'Resale Flat Prices', 'description': 'Resale transacted prices. \r\nPrior to March 2012, data is based on date of approval for the resale transactions.  \r\nFor March 2012 onwards, the data is based on date of registration for the resale transactions.', 'lastUpdatedAt': '2025-04-03T02:09:19+08:00', 'coverageStart': '1990-01-01T08:00:00+08:00', 'coverageEnd': '2024-04-08T00:00:00+08:00', 'frequency': 'monthly', 'sources': ['Housing & Development Board'], 'managedBy': 'Housing & Development Board', 'childDatasets': ['d_8b84c4ee58e3cfc0ece0d773c8ca6abc', 'd_43f493c6c50d54243cc1eab0df142d6a', 'd_2d5ff9ea31397b66239f245f57751537', 'd_ebc5ab87086db484f88045b47411ebc5', 'd_ea9ed51da2787afaf8e51f827c304208']}}, 'errorMsg': ''}

In [3]:
response.json()

{'code': 0,
 'data': {'collectionMetadata': {'collectionId': '189',
   'createdAt': '2015-09-22T15:05:30+08:00',
   'name': 'Resale Flat Prices',
   'description': 'Resale transacted prices. \r\nPrior to March 2012, data is based on date of approval for the resale transactions.  \r\nFor March 2012 onwards, the data is based on date of registration for the resale transactions.',
   'lastUpdatedAt': '2025-04-03T02:09:19+08:00',
   'coverageStart': '1990-01-01T08:00:00+08:00',
   'coverageEnd': '2024-04-08T00:00:00+08:00',
   'frequency': 'monthly',
   'sources': ['Housing & Development Board'],
   'managedBy': 'Housing & Development Board',
   'childDatasets': ['d_8b84c4ee58e3cfc0ece0d773c8ca6abc',
    'd_43f493c6c50d54243cc1eab0df142d6a',
    'd_2d5ff9ea31397b66239f245f57751537',
    'd_ebc5ab87086db484f88045b47411ebc5',
    'd_ea9ed51da2787afaf8e51f827c304208']}},
 'errorMsg': ''}

In [4]:
hdb_dataset_ids = response.json()["data"]["collectionMetadata"]["childDatasets"]
hdb_dataset_ids

['d_8b84c4ee58e3cfc0ece0d773c8ca6abc',
 'd_43f493c6c50d54243cc1eab0df142d6a',
 'd_2d5ff9ea31397b66239f245f57751537',
 'd_ebc5ab87086db484f88045b47411ebc5',
 'd_ea9ed51da2787afaf8e51f827c304208']

## Isolate one example for data.gov.sg dataset

In [5]:
dataset_id = "d_ea9ed51da2787afaf8e51f827c304208"
dataset_response = requests.get(f"https://api-open.data.gov.sg/v1/public/api/datasets/{dataset_id}/initiate-download").json()

In [6]:
dataset_response

{'code': 0,
 'data': {'message': 'Download successfully initiated. Proceed to poll download',
  'url': 'https://s3.ap-southeast-1.amazonaws.com/table-downloads-ingest.data.gov.sg/d_ea9ed51da2787afaf8e51f827c304208/256c84a6d38a8666e7bd72fbdd36fae6c641aa088852dcd4004941f3d648094e.csv?AWSAccessKeyId=ASIAU7LWPY2WKNSY3S3G&Expires=1743738042&Signature=TJVf%2BFRaiPTJSTST2IfS0P8ElpE%3D&X-Amzn-Trace-Id=Root%3D1-67ef46a7-3a3ea6bc62f004f80a1bbcb2%3BParent%3D13b7dc3838f661c4%3BSampled%3D0%3BLineage%3D1%3Ab9934a3d%3A0&response-content-disposition=attachment%3B%20filename%3D%22ResaleFlatPricesBasedonRegistrationDateFromJan2015toDec2016.csv%22&x-amz-security-token=IQoJb3JpZ2luX2VjEJP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaDmFwLXNvdXRoZWFzdC0xIkgwRgIhAOVxQ8xntHYe%2FbQiVhBXdGBl9tPdz8MWtjL8haFx%2B1gGAiEAp3qRL79CWqQjse1yGa%2BX5I1mmWdnkVj87IF7gOuUkmkqrwMI%2FP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAEGgwzNDIyMzUyNjg3ODAiDMQKHtpa19uvRYw%2FkSqDA3yDhkF64r2Dr7du%2FnO9HC5KZPBPwAiixP73%2FBE0e4iZOH1pUgR2s5fb4Q2PN%2BhkAU7V7IjB9QbA1HydY4m0y01g1ws6IuANdL6RW2xSsiTUcw64Om68eWmAo%2BK2PrkhcfVS5jRXFCzJBt5K1stcJ84CL3bOP8OwAnvRXKfdlxkz9eO54hXNIjbixDnld2rIjHgdVS7HvitHXomUN6PmlIgFvBQXI8a%2F%2B3czGbCj3d%2FfuQw%2F2TGQMI2EW8HJJ6%2FQcZ1y7AEYz9yedDWKpMqeIDpcjLMHPXGQi1GCxoE4sYqfuiJDXohJOOQNvpCh5uxpOyiy2Z6DTLdOIVlhwZgMbgP6p8M%2B2ADghHVKIMHGknrbENQDYTG18GxFlv%2FZbsCTcavAv72Mo67zb6tKYKfaA4gmtxTYPUUdkCW%2FVuvpiO0dRHRo4D1aifx55TslovGO1FBPXGvp44Y6IGp0YFGlhr4b3GShviCIJGzAxEOeaVdR9oB0kpiRX%2F3VBboLXRLcRvRC8TCnjb2%2FBjqcAde%2B40sYhqn0dXdM%2F%2Bir0X6EMrzqDb9HARKih%2FHj3A8j13Q4%2FinFHf1%2FIj6VeJMQoHhra3Kp7d2MHMITWfYv1w5O3zYGAqpLN4mpihyzr7brQpFJchHCRJAbGivA7qx55hVBiHQhV%2FCvKtEr1z3vSMOorQGF9nWrDVsIsFl%2B%2BCY3OkxACtAOMS%2BPBPsvt0JGoKBsL9UNDV0bGBv8xg%3D%3D'},
 'errorMsg': ''}

In [7]:
type(dataset_response)

dict

In [8]:
pd.read_csv(dataset_response["data"]["url"])

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,2015-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,07 TO 09,60.0,Improved,1986,70,255000.0
1,2015-01,ANG MO KIO,3 ROOM,541,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1981,65,275000.0
2,2015-01,ANG MO KIO,3 ROOM,163,ANG MO KIO AVE 4,01 TO 03,69.0,New Generation,1980,64,285000.0
3,2015-01,ANG MO KIO,3 ROOM,446,ANG MO KIO AVE 10,01 TO 03,68.0,New Generation,1979,63,290000.0
4,2015-01,ANG MO KIO,3 ROOM,557,ANG MO KIO AVE 10,07 TO 09,68.0,New Generation,1980,64,290000.0
...,...,...,...,...,...,...,...,...,...,...,...
37148,2016-12,YISHUN,5 ROOM,297,YISHUN ST 20,13 TO 15,112.0,Improved,2000,82,488000.0
37149,2016-12,YISHUN,5 ROOM,838,YISHUN ST 81,01 TO 03,122.0,Improved,1987,69,455000.0
37150,2016-12,YISHUN,EXECUTIVE,664,YISHUN AVE 4,10 TO 12,181.0,Apartment,1992,74,778000.0
37151,2016-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,01 TO 03,146.0,Maisonette,1988,70,575000.0
37152,2016-12,YISHUN,MULTI-GENERATION,666,YISHUN AVE 4,10 TO 12,164.0,Multi Generation,1987,70,735000.0

## Iterate and append all Resale HDB data

In [9]:
# output = []
# for id in hdb_dataset_ids:
#     temp_res = requests.get(f"https://api-open.data.gov.sg/v1/public/api/datasets/{id}/initiate-download").json()
#     output.append(pd.read_csv(temp_res["data"]["url"]))

In [10]:
# hdb_resale_df = pd.concat(output)
# hdb_resale_df

In [ ]:
# Export data to be stored locally - no need to poll this live all the time
# hdb_resale_df.to_csv(r"/workspaces/probabilistic-property/data/raw/HDB_Resale_From_2000.csv", index = False)

# Data Cleaning

In [17]:
hdb_resale_df = pd.read_csv(r"/workspaces/probabilistic-property/data/raw/HDB_Resale_From_2000.csv")
hdb_resale_df

/tmp/ipykernel_736/2342360245.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  hdb_resale_df = pd.read_csv(r"/workspaces/probabilistic-property/data/raw/HDB_Resale_From_2000.csv")

,Unnamed: 0,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,remaining_lease,resale_price
0,0,2017-01,ANG MO KIO,2 ROOM,406,ANG MO KIO AVE 10,10 TO 12,44.0,Improved,1979,61 years 04 months,232000.0
1,1,2017-01,ANG MO KIO,3 ROOM,108,ANG MO KIO AVE 4,01 TO 03,67.0,New Generation,1978,60 years 07 months,250000.0
2,2,2017-01,ANG MO KIO,3 ROOM,602,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,262000.0
3,3,2017-01,ANG MO KIO,3 ROOM,465,ANG MO KIO AVE 10,04 TO 06,68.0,New Generation,1980,62 years 01 month,265000.0
4,4,2017-01,ANG MO KIO,3 ROOM,601,ANG MO KIO AVE 5,01 TO 03,67.0,New Generation,1980,62 years 05 months,265000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
949716,37148,2016-12,YISHUN,5 ROOM,297,YISHUN ST 20,13 TO 15,112.0,Improved,2000,82,488000.0
949717,37149,2016-12,YISHUN,5 ROOM,838,YISHUN ST 81,01 TO 03,122.0,Improved,1987,69,455000.0
949718,37150,2016-12,YISHUN,EXECUTIVE,664,YISHUN AVE 4,10 TO 12,181.0,Apartment,1992,74,778000.0
949719,37151,2016-12,YISHUN,EXECUTIVE,325,YISHUN CTRL,01 TO 03,146.0,Maisonette,1988,70,575000.0
949720,37152,2016-12,YISHUN,MULTI-GENERATION,666,YISHUN AVE 4,10 TO 12,164.0,Multi Generation,1987,70,735000.0

# Generate Plots

In [45]:
import os
os.getcwd()

'/workspaces/probabilistic-property/notebooks'